.so-widget-sow-slider-default-852a3a005680 .sow-slider-base .sow-slider-pagination li a {
  background: #900000;
}
.so-widget-sow-slider-default-852a3a005680 .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-slider-default-852a3a005680 .sow-slider-base .sow-slide-nav a {
  color: #900000;
}
